<h2><%= @event.event_subject %></h2>

<p class="author">
  <%= l(:label_added_time, @event_owner.name + " が" + format_time(@event.created_on) ).html_safe %>
</p>
		
<div class="editable details">
  <div class="issue">
	<%# 日時 %>
	<p>
	<strong><%= l(:field_event_date) %></strong>
	<% if @event.event_date? %>
	  <%= ":" + @event.event_date.to_date.to_s(:db) %>
	<% else %>
	  <%= ":" + l(:label_not_found_field) %>
	<%end%>
	</p>

	<%# 場所 %>
	<p>
	<strong><%= l(:field_event_place) %></strong>
	<%  if @event.event_place? %>
	  <%= ":" + @event.event_place %>
	<% else %>
	  <%= ":" + l(:label_not_found_field) %>
	<%end%>
	</p>


	<%# 最寄り駅 %>
	<p>
	<strong><%= l(:field_event_place_station) %></strong>
	<%  if @event.event_place_station %>
	  <%= ":" + @event.event_place_station %>
	<%  end %>
	</p>

	<%# 詳細 %>
	<div class="description">
	  <div class="wiki">
		<%= textilizable @event.event_caption %>	
	  </div>
    </div>
	
  </div>
  
  
  <%# 回答欄 %>
  <div class="box tabular">
	<%#<%= form_for( @event_this_answer, {:url => {:action => "answer", :project_id => @project, :event => @event}, :remote => true } ) do |f| %>
	<%= form_for( @event_this_answer, {:url => {:action => "answer", :project_id => @project, :event => @event} } ) do |f| %>
	  <%# 回答 %>
	  <div><strong><%= l(:label_answer_select) %></strong></div>
	  <%= f.select :event_answer_data_id, @event.event_answer_datas.map{ |t| [t.answer_subject, t.id]} %>
	  </br>

	  <%# メモ %>
	  <div><strong><%= l(:label_answer_memo) %></strong></div>
	  <%= f.text_area :comment, :size => "40x5" %>
	  </br>

	  <%# 回答ボタン %>
	  <%= f.submit l(:label_answer_button) %>
	<% end %>
  </div>
  
  <%# 各種ボタン %>
  <div class="contextual">
	<%= link_to_if_authorized(l(:button_update), {:controller => 'ctrl_event_add_new', :action => 'edit', :event => @event.id, :project_id => @project }, :class => 'icon icon-edit') %>
	<%= link_to_if_authorized(l(:button_copy), {:controller => 'ctrl_event_add_new', :action => 'copy', :event => @event.id, :project_id => @project}, :class => 'icon icon-copy') %>
	<%= "　　" %>
	<%= link_to l(:button_delete), { :controller => "ctrl_event_top", :action => "destroy", :event => @event.id, :project_id => @project }, {:confirm => l(:label_event_delete_check, :name => @event.event_subject)}, :class => 'icon icon-del' %>
  </div>

  
  <%# 回答状況一覧 %>
  <h3><%= l(:label_answer_list_title) %></strong></h3>
  <hr>
  <div id="answer_list">
  <%= render "answers" %>
  </div>
  
</div>
