<!-- エラーメッセージ -->
<% if @event.errors.count > 0 %>
<div id='errorExplanation'>
  <ul>                
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>      
    <% end %>
  </ul>
</div>
<% end %>

<div class="box tabular">
	<!-- 題名 -->
	<p><%= form.text_field :event_subject, :size => 100, :required => true %></p>
	
	<!-- 開催日 -->
	<p>
	<%= form.text_field :event_date, :size => 10, :required => true %>
	<%= calendar_for('event_model_event_date') %>
	</p>

    <!-- 最寄り駅 -->
	<p><%= form.text_field :event_place_station, :size => 20, :required => true %></p>

	<!-- 場所 -->
	<p><%= form.text_field :event_place, :size => 100, :required => true %></p>

	<!-- 本文 -->
	<p>
	<%= form.text_area :event_caption, :class => 'wiki-edit', :required => true %>
	<%= wikitoolbar_for 'event_caption' %> 
	</p>

    <!-- このイベントの回答を列挙 -->
	<div id="answers">
	<%= render "setting_answers", :event => @event, :project_id => @project %>
	</div>
	
    <!-- このプロジェクトに属する全ユーザをグループごとに列挙 -->
	<p><label><%= l(:label_event_users) %></label></p>
	<% @now_project_group_list.get_group_users.each do |group| %>
        <%= render "group_users", :group => group, :form => form %>
    <% end %>

	<!--ファイルを添付-->
	<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>