<%= javascript_include_tag "check_group_users.js", :plugin => "event_management" %>
  <% @child_offset = 10000 %>
  <% @now_group_id = group.get_group %>
  <script>
	var CHECK_GROUP_CHILD_OFFSET = <%=  @child_offset %>;
  </script>
  
<!-- グループ一括チェック -->
	<p>
	   <%= check_box :check, :check, {
				  :checked=>false,
				  :id => @now_group_id,
				  :name => "groups_check[]",
				  :project_id => @project,
				  :event => @event,
				  :now_group_id => @now_group_id,
				  :now_child_offset_val => @child_offset,
				  :is_check =>  :checked,
				  :remote => true
				},
				"1",
				nil
		%>
		<%= group.name %>
	</p>	 
       
<!-- グループに属してるユーザー -->
  <% @now_child_hash = "child_checks_" + ( @now_group_id + @child_offset ).to_s  %>
	  <p style="text-indent:2em">
        <% group.get_users.each do |itr| %>
          <%#<%= check_box "event_check_user_ids", "", { :name => @now_child_hash, :value => user.id } %>
		  <%= check_box "", "", { :id => @now_child_hash, :name => "event_check_user_ids[]", :checked => itr.is_check }, itr.user.id, nil %>
		  <%= itr.user.name  %>
        <% end %>
      </p>
